<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test-method Suite" parallel="classes">
	<test name="Test">
		<classes>
			<class
				name="com.selenium.docker.example.tests.LoginTestsChrome" />
			<class
				name="com.selenium.docker.example.tests.LoginTestsFirefox" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
